<ion-header>
  <ion-row>
    <ion-col text-start>
      <ion-title style = "color: #254B96; font-family: 'Yellowtail', cursive; font-size: 31px;">Trasafe</ion-title>
    </ion-col>
    <ion-col text-end>
      <div class="div_title"><span class = "titles_header">Opciones</span></div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  
  <ion-button expand="block" (click)="showLastUbication()"><ion-icon name="navigate-outline"></ion-icon>Mostrar última ubicación</ion-button>
  <ion-button expand="block" (click)="closeSession()"><ion-icon name="close-circle-outline" style = "align-items: left;"></ion-icon>Cerrar sección</ion-button>
</ion-content>
