<ion-header>
  <ion-row>
    <ion-col text-start>
      <ion-title style = "color: #254B96; font-family: 'Yellowtail', cursive; font-size: 31px;">Trasafe</ion-title>
    </ion-col>
    <ion-col text-end>
      <div class="div_title"><span class = "titles_header">Ayuda</span></div>
      
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <div class = "contenido">

<h1> Terminos y condiciones </h1>
<p>
  
    Trasafe es una aplicación móvil que permite brindar un servicio de información a turistas
    nacionales y extranjeros sobre las zonas de Colombia en que se puede hacer turismo seguro.
    <br> <br> 
    Trasafe advierte a sus usuarios que la información suministrada en esta aplicación es netamente
    probabilistica y se basa en el análisis de los datos obtenidos desde el portal de datos abiertos
    del gobierno Colombiano disponible en <a href="https://herramientas.datos.gov.co/">https://herramientas.datos.gov.co/</a> 
    <br> <br> 
    Por lo anterior, Trasafe fomenta una cultura de prevención y autocudiado facilitando una
    herramienta visual al turista para dar insumos que ayuden a la toma de deciciones sobre los
    lugares que desea visitar, teniendo en cuenta que la herramienta no garantiza ni exhime al turista
    de estar en riesgo de ser victima de robo.
  

</p>
<h1> Presentación de los datos </h1>

  <p>
    Trasafe presenta en el mapa un marcador con el indicador de seguridad que representa el lugar 
    que sea de su interés. El indicador tomará un color con base a la probabilidad que exista 
    de materializarse un riesgo de ser victima de robo o de un atentado terrorista.
    Los colores se interpretan de la siguiente manera:
  </p>

<ul><li><h2>Color verde:</h2></li></ul>
 Significa que hay bajo riesgo de ser victima de robo.

 <ul><li><h2>Color amarillo:</h2></li></ul>
  Significa que hay riesgo medio de ser victima de robo.
 
  <ul><li><h2>Color rojo:</h2></li></ul>
  Significa que hay alto riesgo de ser victima de robo.

  <ul><li><h2>Color azul claro:</h2></li></ul>
  Significa que hay bajo riesgo de ser victima de atentado terrorista.
 
  <ul><li><h2>Color negro:</h2></li></ul>
  Significa que hay alto riesgo de ser victima de atentado terrorista.
 
<h1> Funcionalidades </h1>

<p>
  Trasafe busca ofrecer un servicio de prevención al turista que le permita sentirse más seguro portal
  los destinos del pais que esté visitando. Es por ello que ofrece una serie de sericios funcionales 
  que se mencionan a continuación:
</p>

  <ul><li><h2>Consultar destino</h2></li></ul>
  <p>
  Con esta opción el usuario puede desde antes de tomar la decisión de ir a un lugar, verificar
  cual es el indice de seguridad que hay allí y así poder tomar las desiciones y medidas pertinentes
  que lo ayuden a viajar seguro.
</p>
  <ul><li><h2>Alerta de riesgo</h2></li></ul>
  <p>
  Pensando en la comodidad del usuario, Trasafe implementa un sistema de alerta mediante el cual se
  notifica al usuario cuando se esté acercando a un lugar de alto riesgo para que así pueda tomar
  la decisión de detenerse o seguir adelante tomando todas la precauciones.
</p>
  <ul><li><h2>Compartir ubicación</h2></li></ul>
<p>
  Trasafe permite al turista la opción de compartir su ubicación para tener un registro del lugar
  en el que se encuentra y facilitar la acción policial o investigativa en caso de materializarse un riesgo.
  Esta funcionalidad le será recomendada al usuario cada vez que se active una alerta de riesgo.
</p>
  <ul><li><h2>Llamada de emergencia</h2></li></ul>
<p>
  En caso de sentirse vulnerado, violentado, estar frente a una situación de emergencia o ser testigo
  de un caso que atente contra la seguridad ciudadadana, Trasafe cuenta con un botón de acceso rapido 
  para una llamada de emergencia al 123 de la Policia Nacional.
</p></div>
</ion-content>