<ion-header>
  <ion-row>
    <ion-col text-start>
      <ion-title style = "color: #254B96; font-family: 'Yellowtail', cursive; font-size: 31px;">Trasafe</ion-title>
    </ion-col>
    <ion-col text-end>
      <div class="div_title"><span class = "titles_header">Registro</span></div>
    </ion-col>
  </ion-row>
</ion-header>
 
<ion-content padding>
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
 
    <ion-item>
      <ion-label  position="floating" color="primary">Usuario</ion-label>
      <ion-input type="text" formControlName="user"></ion-input>
    </ion-item>
    <div class="validation-errors">
        
      <ng-container *ngFor="let validation of validation_messages.user">
        <div class="error-message" *ngIf="validations_form.get('user').hasError(validation.type) && (validations_form.get('user').dirty || validations_form.get('user').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label  position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
 
    <ion-item>
      <ion-label  position="floating" color="primary">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
 
    <div class="button-center" style = "text-align: center;">
      <ion-button  class="submit-btn" type="submit"  [disabled]="!validations_form.valid">Registrar</ion-button>
    </div>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <p class="go-to-login">¿Tienes cuenta? <a (click)="goLoginPage()">Intenta ingresar.</a></p>
</ion-content>