#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
}

#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
#map {
  width: 100%;
  height: 55vh;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.logo_title{
  color: #254B96; 
  font-family: 'Yellowtail', cursive; 
  font-size: 31px;    
}

.button_where{
  margin-right: 25px;
}

.map-wrapper {
  position: relative;
 
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
}
 
.alertImages{  
  height: 40px;
  width: 40px;
  margin-left: 20px;
  margin-right: 0px;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  float:right;
  background: gray;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
}

.info-user{
  -webkit-box-shadow: 0px -8px 12px -3px rgba(0,0,0,0.53); 
  box-shadow: 0px -8px 12px -3px rgba(0,0,0,0.53);
  margin-top: 10px;
}

.share-location, .noshare-location{
  display: flex;
  border-bottom: 0.1px solid rgb(190, 189, 189);  
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.share{
  position: relative;
  display: table-cell; 
  vertical-align: middle;
  margin-left: 0px;
  color: gray;
}

.lowTheftRisk{
  color: white;
  background-color: green;
}

.mediumTheftRisk{
  color:black;
  background-color: yellow;
}

.highTheftRisk{
  color:white;
  background-color: red;
}

.highTerrorismRisk{
  color:white;
  background-color: black;
}

.lowTerrorismRisk{
  color: black;
  background-color: #8393F1;  
}

.highTheftRisk, .highTerrorismRisk, .mediumTheftRisk, .lowTheftRisk, .lowTerrorismRisk{
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.id_user{  
  color: #5b6bc3;
    font-size: 20px;
    padding: 6px;
    margin-top: 13px;
}

.div_id_user{
  border: 1px solid #5a5adf;
  border-radius: 8px;
  display: inline;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}


#indicatorUbication{  
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.divUserZone{
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden; 
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 0.1px solid rgb(190, 189, 189);  
}

.div_share_ubication{
  display: block;
  align-items: center;
  overflow: hidden; 
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}


.div-optios{
  display:grid;
}

.icon-menu{
  zoom:2.0;
}

.headingCard{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 8px;
}

#description {
  font-family: Roboto,Arial, Verdana, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto,Arial, Verdana, Tahoma, sans-serif;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto,Arial, Verdana, Tahoma, sans-serif;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto, Arial, Verdana, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  width: 80% !important;
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-bottom: 5px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}